@model AspectosModel
@{

    ViewData["Title"] = "Listagem dos Aspectos Ambientais";
}
<div class="text-center">


<h1 class="display-4">Cadastrar Aspectos Ambientais</h1>
 

 </div>

  <form asp-controller="Aspectos" asp-action="Criar" method="post">

  <div class="form-group">
    <label for="Transporte">Transporte</label>
    <input type="text" asp-for="Transporte" class="form-control" placeholder="Digite o Veículo que você mais utiliza">
  </div>

  <div class="form-group">
    <label for="ConsumoVeiculo">Consumo por Km</label>
    <input type="text" asp-for="ConsumoVeiculo" class="form-control" placeholder="">
  </div>

    <div class="form-group">
    <label for="Passageiros">Passageiros</label>
    <input type="text" asp-for="Passageiros" class="form-control" placeholder="">
  </div>

    <div class="form-group">
    <label for="Emissao">Emissao de CO²</label>
    <input type="text" asp-for="Emissão" class="form-control" placeholder="Emissão de CO² do seu veículo por Km">
  </div>

  <button type="submit" class="btn btn-success">Adicionar</button>
  <a class="btn btn-secondary" asp-controller="Aspectos" asp-action="Index" role="button">Voltar</a>
</form>
 