html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

fundo {
    background-image: url(../css/Arvore.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
img {
    max-width: 100%;
    max-height: 100%;
}
